.head {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.head img{
    width: 4%;
}
.head p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: rgb(99, 84, 84);
    font-size: 18px;
}
.menu{
    display: flex;
    gap: 50px;
    margin-left: 50%;
}
.menu, a {
    color: rgb(74, 73, 73);
    text-decoration: none;
}
.menu a:hover {
    color: brown;
    text-decoration-line: overline;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
.body-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230,218,206);
}
.container {
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 300px;
    background-color: white;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-width: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    color: rgb(71, 67, 67);
    
}
.container-left {
    text-align: left;
    width: 200px;
}
#date {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:800;
    color: #4b67a1;
}
#text {
    line-height:3cap;
    font-size: 13px;
}
.container-center {
    width: 200px;
    font-size: 15px;
    line-height: 2cap;
}

.container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.body-part2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230,218,206);
}
.container-item {
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 300px;
    background-color: white;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    margin: 20px;
    gap: 60px;
    font-family: Arial, Helvetica, sans-serif;
    border-width: 10px;

}
#date2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:800;
    color: #4b67a1;
    text-align: left;
}
#text2 {
    width: 400px;
    font-size: 15px;
    line-height:4cap;
}

.footer-left {
    flex: 2;
    min-width: 200px;
}

.footer-center {
    display: flex;
    justify-content: center;
    gap: 40px;
    min-width: 300px;
}

.contact-item {
    display: flex;
    gap: 10px;
    align-items: center;
}
.contact-item img {
    width: 24px;
    height: 24px;
}
.footer-right {
    margin-top: 15px;
}
.footer-right p{
    line-height: 1px;
    text-align: right;
}

.footer-right img {
    width: 15px;
    margin-left: 10px;
    margin-bottom: 25px;
}